<?xml version="1.0"?>
<launch>

  <group ns="/outdoor_waypoint_nav">
    <rosparam command="load" file="$(find outdoor_waypoint_nav)/params/navsat_params_sim.yaml" />

    <!-- In simulation, use Gazebo wheel odometry directly for odom->base_link. -->
    <node pkg="topic_tools" type="relay" name="filtered_odom_relay" args="/warthog_velocity_controller/odom odometry/filtered" />
    <node pkg="topic_tools" type="relay" name="filtered_map_relay" args="/warthog_velocity_controller/odom odometry/filtered_map" />

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
      <remap from="odometry/filtered" to="/warthog_velocity_controller/odom"/>
      <remap from="gps/fix" to="/gps/fix"/>
    </node>
  </group>

</launch>
