<?xml version="1.0"?>
<launch>

  <param name="/outdoor_waypoint_nav/obstacle_avoidance_enabled" value="true" type="bool" />
  <param name="/outdoor_waypoint_nav/obstacle_avoidance_distance" value="2.0" type="double" />
  <param name="/outdoor_waypoint_nav/obstacle_avoidance_sector_half_angle_deg" value="45.0" type="double" />
  <param name="/outdoor_waypoint_nav/obstacle_avoidance_turn_speed" value="1.2" type="double" />
  <param name="/outdoor_waypoint_nav/obstacle_avoidance_forward_speed" value="0.08" type="double" />
  <param name="/outdoor_waypoint_nav/obstacle_avoidance_stop_distance" value="1.2" type="double" />
  <param name="/outdoor_waypoint_nav/obstacle_avoidance_min_cmd_linear_x" value="0.0" type="double" />
  <param name="/outdoor_waypoint_nav/obstacle_avoidance_clear_distance" value="2.6" type="double" />
  <param name="/outdoor_waypoint_nav/obstacle_avoidance_turn_commit_time" value="2.0" type="double" />

  <node ns="/outdoor_waypoint_nav" pkg="outdoor_waypoint_nav" type="safety_node" name="safety_node" output="screen"/>

</launch>
