<?xml version="1.0"?>

<launch>

	<node ns="/outdoor_waypoint_nav" pkg="outdoor_waypoint_nav" type="gps_waypoint" name="gps_waypoint" output="screen" />
		<param name="/outdoor_waypoint_nav/coordinates_file" value="/waypoint_files/points_outdoor.txt" type="string" />
    <param name="/outdoor_waypoint_nav/goal_frame" value="map" type="string" />
    <param name="/outdoor_waypoint_nav/waypoint_marker_frame" value="map" type="string" />
    <param name="/outdoor_waypoint_nav/waypoint_marker_topic" value="/outdoor_waypoint_nav/collected_waypoints" type="string" />
    <param name="/outdoor_waypoint_nav/waypoint_marker_scale" value="0.7" type="double" />
    <param name="/outdoor_waypoint_nav/waypoint_marker_activation_radius" value="0.675" type="double" />
    <param name="/outdoor_waypoint_nav/max_waypoint_goal_yaw_delta" value="0.35" type="double" />
    <param name="/outdoor_waypoint_nav/waypoint_heading_preview_radius" value="0.7" type="double" />
    <param name="/outdoor_waypoint_nav/oscillation_recovery_enabled" value="true" type="bool" />
    <param name="/outdoor_waypoint_nav/oscillation_recovery_max_attempts" value="2" type="int" />
    <param name="/outdoor_waypoint_nav/oscillation_recovery_reverse_distance" value="0.0" type="double" />
    <param name="/outdoor_waypoint_nav/oscillation_recovery_turn_angle_deg" value="90.0" type="double" />
    <param name="/outdoor_waypoint_nav/oscillation_recovery_forward_distance" value="1.5" type="double" />
    <param name="/outdoor_waypoint_nav/oscillation_recovery_linear_speed" value="0.30" type="double" />
    <param name="/outdoor_waypoint_nav/oscillation_recovery_angular_speed" value="0.45" type="double" />

</launch>
