<?xml version="1.0"?>
<launch>

  <arg name="rviz" default="true"/>
  <arg name="config" default="ekf" />
  <param name="use_sim_time" value="false"/>

  <include file="$(find gps_pkg)/launch/navsat_transform_gps.launch"></include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu" 
        args="0 0 0 0 0 0 base_link imu_link" />
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_gps" 
        args="0 0 0 0 0 0 base_link gps_link" />

  <!-- ===================== EKF LOCAL ===================== -->
  <node pkg="robot_localization"
        type="ekf_localization_node"
        name="ekf_se_odom"
        output="screen"
        clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered"/>
    <rosparam command="load" file="$(find robot_localization)/params/ekf_se_odom.yaml" />
  </node>

  <!-- ===================== NAVSAT TRANSFORM ===================== -->
  <node pkg="robot_localization"
        type="navsat_transform_node"
        name="navsat_transform"
        output="screen"
        clear_params="true">

    <param name="wait_for_datum" value="false"/>
    <!-- <rosparam param="datum">[21.03, 105.85, 0.0]</rosparam> -->
    <rosparam command="load" file="$(find robot_localization)/params/navsat_transform.yaml" />
    <remap from="imu/data" to="/imu/data"/>
    <remap from="gps/fix" to="/gps/fix"/>
    <remap from="odometry/gps" to="/odometry/gps"/>
    <remap from="odometry/filtered" to="/odometry/filtered"/>

  </node>

    <!-- ===================== EKF GLOBAL ===================== -->
  <node pkg="robot_localization"
        type="ekf_localization_node"
        name="ekf_se_map"
        output="screen"
        clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/ekf_se_map.yaml" />
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

</launch>