<?xml version="1.0"?>
<launch>

  <arg name="rviz" default="true"/>
  <arg name="config" default="ekf" />

  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="world_name" default="$(find warthog_gazebo)/worlds/warthog_playpen.world" />

  <rosparam command="load" file="$(find robot_localization)/params/dual_ekf_navsat.yaml" /> 

  
  <!-- ===================== GAZEBO ===================== -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <!-- ===================== SPAWN WARTHOG ===================== -->
  <arg name="spawn" value="$(find warthog_simulation)/launch/warthog_spawn.launch" />
  <include file="$(arg spawn)"/>

  <!-- ===================== RF2O LASER ODOM ===================== -->
  <node pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="laser_odometry" output="screen">
    <param name="laser_scan_topic" value="/front/scan"/>        
    <param name="odom_topic" value="/front/odom_laser" />              
    <param name="publish_tf" value="false" />                   
    <param name="base_frame_id" value="base_link"/>            
    <param name="odom_frame_id" value="odom" />                   
    <param name="init_pose_from_topic" value="" /> 
    <param name="freq" value="10.0"/>                           
    <param name="verbose" value="true" />                      
  </node>

  <!-- ===================== EKF LOCAL ===================== -->
  <node pkg="robot_localization"
        type="ekf_localization_node"
        name="ekf_se_odom"
        output="screen"
        clear_params="true"/>

  <!-- ===================== EKF GLOBAL ===================== -->
  <node pkg="robot_localization"
        type="ekf_localization_node"
        name="ekf_se_map"
        output="screen"
        clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <!-- ===================== NAVSAT TRANSFORM ===================== -->
  <node pkg="robot_localization"
        type="navsat_transform_node"
        name="navsat_transform"
        output="screen"
        clear_params="true">

    <remap from="imu/data" to="/imu/data"/>
    <remap from="gps/fix" to="/gps/fix"/>
    <remap from="odometry/gps" to="/odometry/gps"/>
    <remap from="odometry/filtered" to="/odometry/filtered_map"/>

  </node>

  <include file="$(find warthog_slam)/launch/amcl.launch" />
  <!-- ===================== RVIZ ===================== -->
  <node if="$(arg rviz)"
        pkg="rviz"
        type="rviz"
        name="$(anon rviz)"
        output="screen"
        args="-d $(find warthog_simulation)/rviz/$(arg config).rviz" />

</launch>