<?xml version="1.0"?>

<launch>

    <arg name="launch_rviz" default="true" />
    <arg name="rviz_config" default="$(find outdoor_waypoint_nav)/rviz_config/real.rviz" />
    <arg name="use_lidar" default="false" />

    <include file="$(find gps_pkg)/launch/navsat_transform_gps.launch"></include>

    <include file="$(find imu_bias_compensator)/launch/imu_republisher.launch" />

    <include file="$(find imu_filter_madgwick)/launch/imu_filter_madgwick.launch" />

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu" 
            args="0 0 0 0 0 0 base_link imu_link" /> -->

     <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_lidar" 
            args="0.4 0 0.3 0 0 0 base_link rslidar" />

  
    <include if="$(arg use_lidar)" file="$(find outdoor_waypoint_nav)/launch/include/laser.launch" />

  

    <include file="$(find outdoor_waypoint_nav)/launch/include/imu.launch" />

    <!-- <include file="$(find outdoor_waypoint_nav)/launch/include/gps.launch" /> -->


    <include file="$(find outdoor_waypoint_nav)/launch/include/localization_run.launch"/>


    <!-- <include file="$(find warthog_slam)/launch/gmapping.launch" /> -->


    <!-- include file="$(find hector_mapping_nav)/launch/scanmatch_nav.launch" /-->


    <!-- <include file="$(find warthog_slam)/launch/move_base_nav.launch">
      <arg name="use_lidar" value="$(arg use_lidar)" />
    </include> -->


    <!-- <include file="$(find outdoor_waypoint_nav)/launch/include/safety_node.launch" /> -->


    <node if="$(arg launch_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" />


</launch>
