<?xml version="1.0"?>

<launch>

    <arg name="launch_rviz" default="true" />
    <arg name="rviz_config" default="$(find outdoor_waypoint_nav)/rviz_config/real.rviz" />
    <arg name="use_lidar" default="false" />
    <arg name="use_gps" default="true" />
    <arg name="ekf_odom_params" default="$(find outdoor_waypoint_nav)/params/ekf_se_odom.yaml" />
    <arg name="ekf_map_params" default="$(find outdoor_waypoint_nav)/params/ekf_se_map.yaml" />

    <include if="$(arg use_gps)" file="$(find gps_pkg)/launch/navsat_transform_gps.launch"></include>

    <!-- <include file="$(find imu_bias_compensator)/launch/imu_republisher.launch" /> -->

    <!-- <include file="$(find imu_filter_madgwick)/launch/imu_filter_madgwick.launch" /> -->
    
    <include file="$(find imu_pkg)/launch/imu_ins.launch" />

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu" 
            args="0 0 0 0 0 0 base_link imu_link" /> -->

     <node pkg="tf2_ros"
           type="static_transform_publisher"
           name="base_link_to_lidar"
           args="0.4 0 0.3 0 0 0 base_link rslidar" />

     <node pkg="tf2_ros"
           type="static_transform_publisher"
           name="base_link_to_gps"
           args="0 0 0 0 0 0 base_link gps_link" />

  
    <include if="$(arg use_lidar)" file="$(find outdoor_waypoint_nav)/launch/include/laser.launch" />

  
    <!-- <include file="$(find outdoor_waypoint_nav)/launch/include/gps.launch" /> -->


    <include file="$(find outdoor_waypoint_nav)/launch/include/localization_run.launch">
        <arg name="use_gps" value="$(arg use_gps)" />
        <arg name="ekf_odom_params" value="$(arg ekf_odom_params)" />
        <arg name="ekf_map_params" value="$(arg ekf_map_params)" />
    </include>


    <!-- <include file="$(find warthog_slam)/launch/gmapping.launch" /> -->


    <!-- include file="$(find hector_mapping_nav)/launch/scanmatch_nav.launch" /-->


    <include file="$(find warthog_slam)/launch/move_base_nav.launch">
      <arg name="use_lidar" value="$(arg use_lidar)" />
      <arg name="cmd_vel_topic" value="/cmd_vel" />
    </include>

    <node pkg="topic_tools"
          type="relay"
          name="cmd_vel_to_warthog_controller"
          args="/cmd_vel /warthog_velocity_controller/cmd_vel" />


    <node if="$(arg launch_rviz)"
          name="rviz"
          pkg="rviz"
          type="rviz"
          args="-d $(arg rviz_config)" />


</launch>
