<launch>
  <!-- Node đọc GPS thật -->
  <node pkg="gps_pkg" type="gps_node.py" name="gps_node" output="screen" />

  <!-- Node đọc Waypoints -->
  <!-- <node pkg="gps_pkg" type="mission_receiver.py" name="mission_receiver" output="screen" /> -->

  <!-- TF GPS -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="gps_tf" 
        args="-0.5 0.3 0 0 0 0 base_link gps_link"/>
</launch>